.nav-bg-color {
	background: #353b4a;
}#nav-logo-2row-share .nav-bg {
	background: #353b4a;
	opacity: 1;
}/*----------------------------------------------------------------------------------------
										WIDGET STYLES
----------------------------------------------------------------------------------------*/

.widget {
    margin-bottom: 50px;
}

.widget ul.post-list>li{
    margin-bottom: 20px;
}

.widget .post-list .post-desc{
    padding-top: 5px;
    opacity: 0.7;
}#clients-line {
    background: radial-gradient(circle, #653E23 30%, #4E2D18 70%);
    background: -webkit-radial-gradient(circle, #653E23 30%, #4E2D18 70%);
}

#clients-line .bg {
    background-image: url('../images/title-bg-clients.png');
    background-size: 578px auto;
    -webkit-background-size: 578px auto;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.15;
}
#footer-text-icon-social {
	background: #353b4a;
}
#footer-text-logo-btn {
    background: #768190;
}